.navbar {
  background-image: linear-gradient(to left, #27374D, #000000);
}

.title {
  margin: auto;
}

.logo img {
  width: 40px;
  border-radius: 50%;
}

.logo .titleWeb {
  position: absolute;
  font-size: 28px;
  color: white;
  font-weight: bold;
  margin-left: 6px;
}
