aside {
  display: flex;
  flex-direction: column;
  width: calc(2.2rem + 32px);
  overflow: hidden;
  min-height: 100vh;
  padding: 1rem;
  background: linear-gradient(to right bottom, #27374D, #526D82);
  transition: 0.2s ease-in-out;

    .flex {
      flex: 1 1 0%;
    }
  
    .logo {
      margin-bottom: 1rem;
  
      img {
        width: 30px;
        margin-right: 8px;
      }
  
      .titleWeb {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        font-size: 20px;
        color: white !important;
        font-weight: bold;
      }
    }
  
    
  
    h3,
    .button .text {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  
    h3 {
      color: var(--grey);
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
  
    .menu {
      margin: 0 -1rem;
      .button {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        padding: 0.5rem 1rem;
        cursor: pointer;
        .material-icons {
          font-size: 20px;
          color: white;
          transition: 0.2s ease-in-out;
        }
  
        .text {
          color: white;
          transition: 0.2s ease-in-out;
          font-weight: bold;
  
          .numberOrders {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            position: absolute;
            color: var(--light);
            font-weight: bold;
            margin-left: 10px;
            padding: 0px 3px;
            background-color: white;
            border-radius: 50%;
          }
        }
  
        &:hover {
          background-color: #6e7f9664;
          .material-icons,
          .text {
            color: var(--dark);
            font-weight: bold;
          }
        }
  
        &.router-link-exact-active {
          background-color: #9db2bf48;
          border-right: 5px solid #27374D;
          .material-icons {
            color: white;
          }
  
          .text {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  
    .footer {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  
      p {
        font-size: 0.875rem;
        color: var(--grey);
      }
    }
  
    &.is-expanded {
      width: var(--sidebar-width);
      .menu-toggle-wrap {
        top: -55px;
        .menu-toggle {
          transform: rotate(-180deg);
        }
      }
  
      h3,
      .button .text {
        opacity: 1;
      }
  
      .button .text .numberOrders {
        opacity: 1;
      }
  
      .titleWeb {
        opacity: 1;
        color: #eee;
      }
  
      .button {
        .material-icons {
          width: 25px;
          height: 30px;
        }
        .text {
          margin-left: 16px;
        }
      }
  
      .footer {
        opacity: 0;
      }
    }
  }
  .menu-toggle-wrap {
    display: flex;
    justify-content: flex-end;
    // margin-bottom: 1rem;

    position: relative;
    top: 0;
    transition: 0.2s ease-in-out;

    .menu-toggle {
      transition: 0.2s ease-in-out;
      color: #000;
      .material-icons {
        font-size: 2rem;
        color: #000;
        transition: 0.2s ease-out;
      }

      &:hover {
        .material-icons {
          color: #000;
          transform: translateX(0.5rem);
        }
      }
    }
  }