.containPage {
  padding: 20px 30px 10px 30px;
  height: 100vh;
  background-image: url("../../assets/img/background_admin.jpg");
  background-size: cover;
  background-position: center;
}

.contentPage {
  border-radius: 10px;
  background-color: #768ea46b;
}

.btn-edit {
  background-color: #2e384172;
  color: white !important;

  &:hover {
    opacity: 0.8;
  }
}

.bgProfile {
  background-image: url("../../assets/img/bookslibrarywallpapers.jpg");
  height: 300px;
  background-size: cover;
}

.card-info {
  background-color: #ffffffa4;
}