.containPage {
    padding: 20px 30px;
    height: 100vh;
    background-image: url("../../assets/img/background_admin.jpg");
    background-size: cover;
    background-position: center;

    .contentPage {
        padding: 0px 20px 20px 20px;
        border-radius: 10px;
        background-color: #eae2e24a;
    }



}