.containPage {
    padding: 20px 30px;
    height: 100vh;
    background-image: url("../../../assets/img/background_user.jpg");
    background-size: cover;
    background-position: center;
    overflow: auto;
    height: auto;
  }
  .titlePage .gradient-text {
    background-image: linear-gradient(to right bottom, #526D82, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .contentPage {
    padding: 10px;
    border-radius: 10px;
    background-color: #eae2e24a;
  }
  
  .titleIntro {
    font-weight: bold;
  }
  
  .btnReadMore {
    background-image: linear-gradient(to right bottom, #27374dcf, #526d82d0);
    margin: 30px auto;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #27374D;
    border-radius: 10px;
    display: block;
  }
  
  .btnReadMore:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  

  .img-container1{
    height: 400px;
  }

  .img-container2{
    height: 400px;
    color: white;

    h2{
      font-weight: bold;
    }
  }

  .img-container3{
    height: 400px;
  }

  .img-container4{
    height: 400px;
  }
  
  .row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .row:last-child {
    margin-bottom: 0;
  }

  .img-container img {
    object-fit: cover; 
    width: 100%; 
    height: 100%;
  }

  .hover-effect {
    transition: transform 0.3s ease; 
  }
  
  .img-container:hover .hover-effect {
    transform: scale(1.1); 
  }
  .hover-effect:hover {
    transform: scale(1.1); /* Khi hover, phóng to hình ảnh và văn bản */
  }